<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head th:replace="home :: head"  ></head>
<body>
<div class="container">
<nav th:replace="home :: navbar"  >

</nav>

    <h2 th:text="${'Account #: ' + {account.accNumber}}"></h2>
    <h3 th:text="${'Balance: $' + {account.accBalance}}"></h3>
<form th:action="@{/add}" th:object="${transactionATM}" method="post">
   <!--<div class="form-group">
        <label for="exampleInputNumber1">Account Number</label>
        <input type="number" class="form-control" id="exampleInputNumber1" placeholder="Account Number" th:field="*{tranAcc}"/>
    </div>-->
    <!--<div class="form-group">
        <label for="exampleInputText3">Balance</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="exampleInputText3" placeholder="Balance" th:field="*{tranBalance}"/>
        </div>
    </div>-->
    <div class="radio">
        <p style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">Action</p><br/>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="Withdraw" th:field="*{tranAction}"/>
            Withdraw
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="Deposit" th:field="*{tranAction}"/>
            Deposit
        </label>
    </div>
    <div class="form-group">
        <label for="exampleInputText4">Reason</label>
        <input type="text" class="form-control" id="exampleInputText4" placeholder="Reason"  th:field="*{tranReason}"/>
    </div>
    <div class="form-group">
        <label for="exampleInputText5">Amount</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="exampleInputText5" placeholder="Amount" th:field="*{tranAmount}"/>
        </div>
    </div>
    <!-- <div class="form-group">
         <label for="exampleInputPassword1">Password</label>
         <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
     </div>
     <div class="form-group">
         <label for="exampleInputFile">File input</label>
         <input type="file" id="exampleInputFile">
         <p class="help-block">Example block-level help text here.</p>
     </div>
     <div class="checkbox">
         <label>
             <input type="checkbox"> Check me out
         </label>
     </div>-->
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>
</html>